absl-py==0.12.0
acrcloud==14.10.2020
alabaster==0.7.12
appdirs==1.4.4
astunparse==1.6.3
attrs==19.1.0
audioread==2.1.6
Babel==2.6.0
beautifulsoup4 @ file:///home/linux1/recipes/ci/beautifulsoup4_1610988766420/work
brotlipy==0.7.0
bs4==0.0.1
CacheControl==0.12.6
cachetools==4.2.2
cachy==0.3.0
certifi==2018.11.29
cffi==1.14.5
chardet @ file:///tmp/build/80754af9/chardet_1605303185383/work
chord-extractor==0.1.0
ci-info==0.2.0
cleo==0.8.1
click==7.1.2
clikit==0.6.2
conda==4.10.1
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1603018141399/work
configobj==5.0.6
configparser==5.0.2
crashtest==0.3.1
cryptography @ file:///tmp/build/80754af9/cryptography_1605544487601/work
cycler==0.10.0
decorator==4.3.2
distlib==0.3.1
docutils==0.14
etelemetry==0.2.2
ffmpeg-python==0.2.0
ffprobe==0.5
filelock==3.0.12
fitz==0.0.1.dev2
flatbuffers==1.12
future==0.17.1
gast==0.3.3
google-auth==1.30.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
guzzle-sphinx-theme==0.7.11
h11==0.12.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
html5lib==1.1
httpcore==0.12.3
httplib2==0.19.1
httpx==0.16.1
hyperframe==5.2.0
idna==2.8
imagesize==1.1.0
isodate==0.6.0
jeepney==0.6.0
Jinja2==2.10.1
joblib==1.0.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==21.8.0
kiwisolver==1.1.0
librosa==0.8.0
llvmlite==0.36.0
lockfile==0.12.2
lxml==4.6.3
Markdown==3.3.4
matplotlib==3.4.1
msgpack==1.0.2
networkx==2.5.1
nibabel==3.2.1
nipype==1.6.0
norbert==0.2.1
numba==0.53.1
numpy==1.20.3
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.2
pastel==0.2.1
pathlib==1.0.1
patsy==0.5.1
pdfkit==0.6.1
pexpect==4.8.0
Pillow==8.2.0
pkginfo==1.7.0
poetry==1.1.6
poetry-core==1.0.3
pooch==1.3.0
protobuf==3.17.1
prov==2.0.0
ptyprocess==0.7.0
pyacrcloud==1.0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pychord==0.6.2
pycosat==0.6.3
pycparser==2.20
pydot==1.4.2
pydub==0.25.1
Pygments==2.3.1
pylev==1.3.0
PyMuPDF==1.18.13
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1605545627475/work
pyparsing==2.4.7
PyQt5-sip==4.19.17
PySimpleGUI==4.40.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.8.1
pytz==2018.9
pyxnat==1.4
rdflib==5.0.0
requests==2.21.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resampy==0.2.2
rfc3986==1.5.0
rsa==4.7.2
ruamel-yaml==0.15.87
scikit-learn==0.24.2
scipy==1.4.1
SecretStorage==3.3.1
ShazamAPI==0.0.2
shellingham==1.4.0
simplejson==3.17.2
six @ file:///tmp/build/80754af9/six_1605205327372/work
sniffio==1.2.0
snowballstemmer==1.2.1
SoundFile==0.10.3.post1
soupsieve @ file:///tmp/build/80754af9/soupsieve_1616183228191/work
Sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
spleeter==2.2.2
statsmodels==0.12.2
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==2.1.0
tomlkit==0.7.2
tqdm @ file:///tmp/build/80754af9/tqdm_1605303662894/work
traits==6.2.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.24.2
vamp==1.1.0
virtualenv==20.4.7
webencodings==0.5.1
Werkzeug==2.0.1
wrapt==1.12.1
